@import "../Fonts/Nunito/Nunito.css";
@import "Normalize.css";
@import "Variables.css";

* {
    font-family: Nunito, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
